* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 95vw;
  height: 90%;
}

.card {
  flex: 0.5;
  cursor: pointer;
  margin: 0 5px;
  height: 100%;
  position: relative;
  transition: flex 0.7s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.card > h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 35px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s 0.5s;
}

.card.active > h3 {
  opacity: 1;
}

.card.active {
  flex: 5;
}
